{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Django Docker</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A production ready example Django app that's using Docker and Docker Compose.">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>


  <p class="text-center text-lg mt-6">
   🐳 Learn the Docker fundamentals at:
    <strong>
      <a class="border-b border-gray-900 mb-1" href="https://diveintodocker.com?ref=docker-django-example">https://diveintodocker.com</a>
    </strong>
  </p>
  </body>
</html>
